<!-- subheader -->
<section id="subheader" data-speed="8" data-type="background">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h1><b style= "color:#0063b1">About Us</b></h1>
              <ul class="crumb">
                  <li><a href="/">Home</a></li>
                  <li class="sep">/</li>
                  <li>About Us</li>
              </ul>
          </div>
      </div>
  </div>
</section>
<!-- subheader close -->
<section id="section-about-us-2" style="background-image: url('assets/images/misc/ab.jpg');" class="side-bg no-padding">
  

  <div class="container">
      <div class="row">
          <div class="inner-padding">
              <div class="col-md-6 wow fadeInRight"data-delay="0">
                  <img src="assets/images/misc/p.jpg" class="img-responsive">
                </div>
              <div class="col-md-6  wow fadeInRight" data-wow-delay=".5s">
                  <h2><b>Our Profile</b></h2>
                       <p class="intro"> Raj Hearing Centre (RHC), since 1979 Mr.Muktesh (Founder) is an established Hearing Care and fitting Centre and an Authorized dispenser for Siemens Hearing instruments and other popular brands.Having been immensely dedicated in the field of Hearing Care for over 25 years, Mr. G.R. Gopal, the Managing Director of RHC Chennai, professionally and personally well experienced dispenser, who have been continuously contributing unconditional efforts to render their best services for the betterment of the Hearing Aid users.The prime purpose of the centre is to help the hearing impaired patients to give them back their hearing to the best and make them more confident in this growing scenario all across the country.</p>
     <p class="intro"> 

                     The centre is a digitally computerized with all the necessary infrastructure required for a comfort and confident fitting. They constitute a wide range of hearing aids to fit the patients as per the request.              
      </p>		  
            
            
            
            <div class="clearfix"></div>
          </div>
      </div>
  </div>
</div>
</section>

<section id="section-team">
    <div class="container">



        <div class="row">
            <div class="col-md-12 container-4">
                
                <p class="intro">
  
  They are however associated with all the major and popular hearing aid brands in the hearing aid industry. The prime purpose of the centre is to help the hearing impaired patients to give them back their hearing to the best and make them more confident in this growing scenario all across the country.
</p>

  
     </div>
             <div class="clearfix"></div>

            </div>
        </div>
   
</section>


    <!-- clients-->
    <section id="section-about-us-2" class="side-bg no-padding">
  <app-clients></app-clients>
</section>