 <!-- subheader -->
 <section id="subheader" data-speed="8" data-type="background"style="background-image: url('assets/images/misc/subheader-2.jpg');">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h1>MOLD & EAR PLUGS</h1>
              <ul class="crumb">
                  <li><a href="/services">Services</a></li>
                  <li class="sep">/</li>
                  <li>MOLD & EAR PLUGS</li>
              </ul>
          </div>
      </div>
  </div>
</section>
<!-- subheader close -->

<div id="content"  class="no-top no-bottom">
        <section id="section-service-1" class="side-bg no-padding"style="background-image: url('assets/images/misc/ab.jpg');" >
           
            
            <div class="container">
                <div class="row">
                    <div class="inner-padding">
                            <div class="col-md-6  wow fadeInRight " data-delay="0">
                                    <img src="assets/images/misc/mold.jpg" class="img-responsive">
                                    <img src="assets/images/misc/mold1.jpg" class="img-responsive">
                                 </div>
                        <div class="col-md-6  wow fadeInRight" data-wow-delay=".5s">
                            <h3 class="id-color">MOLD & EAR PLUGS</h3>
            <p> We make ear molds that double as sound and swim molds, available in a silicone material. They provide an average attenuation of 37dB (reduction of sound by 37 decibels). For those with recurrent ear infections such as swimmer’s ear (otitis externa), infections of the middle ear (otitis media), or ear tubes (P.E. tubes), the best bet is often custom made swim molds. These custom ear plugs keep ears dry, preventing water containing harmful bacteria to get trapped inside the ear.           
                        </p>
                            <div class="spacer-single"></div>
                            <a routerLink="/services" class="btn-custom" style="color:black"> Other Services</a>

                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- section service close -->
        </div>