 <!-- subheader -->
 <section id="subheader" data-speed="8" data-type="background"style="background-image:url('assets/images/misc/subheader-1.jpg');">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h1>SALES & SERVICES</h1>
              <ul class="crumb">
                  <li><a href="/services">Services</a></li>
                  <li class="sep">/</li>
                  <li>SALES & SERVICES</li>
              </ul>
          </div>
      </div>
  </div>
</section>
<!-- subheader close -->

  
<section id="section-service-1" class="side-bg no-padding"style="background-image: url('assets/images/misc/ab.jpg');" >
             
              
        <div class="container">
            <div class="row">
                <div class="inner-padding">
                        <div class="col-md-6  wow fadeInRight " data-delay="0">
                                <img src="assets/images/misc/hearing-aid-sales-and-repair-2.jpg" class="img-responsive">
                             </div>
                    <div class="col-md-6  wow fadeInRight" data-wow-delay=".5s">
                        <h3 class="id-color">SALES & SERVICES </h3>
                           <p>     Hearing Solutions offers advanced technology to provide the optimal solution to suit every individual – regardless of age, lifestyle, degree of hearing loss, and budget.       
                   </p>
                   <a routerLink="/services" class="btn-custom" style="color:black"> Other Services</a>

                        </div>
                                <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- section service close -->
