 <!-- subheader -->
 <section id="subheader" data-speed="8" data-type="background"style="background-image:url('assets/images/misc/subheader-1.jpg');">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h1>ACCESSORIES</h1>
              <ul class="crumb">
                  <li><a href="/services">Services</a></li>
                  <li class="sep">/</li>
                  <li>ACCESSORIES</li>
              </ul>
          </div>
      </div>
  </div>
</section>
<!-- subheader close -->


  
<section id="section-service-1" class="side-bg no-padding" style="background-image: url('assets/images/misc/ab.jpg');" class="side-bg no-padding">
             
              
        <div class="container">
            <div class="row">
                <div class="inner-padding">
                        <div class="col-md-6  wow fadeInRight " data-delay="0">
                                <img src="assets/images/misc/acces.jpg" class="img-responsive">
                                <img src="assets/images/misc/acces1.jpg" class="img-responsive">
                           
                            
                            </div>
                    <div class="col-md-6  wow fadeInRight" data-wow-delay=".5s">
                        <h3 class="id-color">ACCESSORIES</h3>
                       <p> HEARING SAVERS offers a wide range Hearing Aid Accessories We offer cleaning kits, battery testers, ear lubricants, hearing aid domes, hearing aid receivers and wax management products from Oticon, Phonak, Widex, Siemens, Starkey, Unitron, Westone and MiraCell to name a few. We also offer a complete range of remote controls and wireless accessories to control your hearing aids and to stream sound directly to your hearing aids from your mobile, TV and computer.  </p> 
                       <a routerLink="/services" class="btn-custom" style="color:black"> Other Services</a>

                    </div>
                                <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- section service close -->