

        <!-- header begin -->
        <header class="header-bg">
            

          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <!-- logo begin -->
                      <div id="logo">
                          <a routerLink="/">
                              <img class="logo" src="assets/images/logo.png"alt="">
                          </a>
                      </div>
                      <!-- logo close -->

                      <!-- small button begin -->
                      <span id="menu-btn"></span>
                      <!-- small button close -->

                      <!-- mainmenu begin -->
                      <ng2-slim-loading-bar color="violet"></ng2-slim-loading-bar>
                      <nav>
                          <ul id="mainmenu">
                              <li><a  routerLink="" routerLinkActive="active" ><b>Home</b></a>
                                   </li>
                 
                              
                                  
                             
                              
                                 
                           <li><a routerLink="about"><b>About Us</b></a></li>
               <li><a routerLink="technology"><b> Technology</b></a></li>

                         <li><a routerLink="products"><b>Products</b></a></li>
             
                      <li><a routerLink="services"> <b>Services</b></a></li>
                              
                              
                              <li><a routerLink="contact"><b>Contact</b></a></li>
                          </ul>
                      </nav>

                  </div>
                  <!-- mainmenu close -->

              </div>
          </div>
      </header>

      <!-- header close -->
      <router-outlet></router-outlet> 