

<!-- Preloader -->

  
<div id="wrapper">
<!-- revolution slider begin -->
  <!-- content begin -->
  <div id="content" class="no-bottom no-top">
<section id="section-slider" class="fullwidthbanner-container" aria-label="section-slider">
 

        
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
      
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
                    <img src="assets/images-slider/slide1-03.jpg" alt="New york" style="width:100%;">
          
            </div>
      
            <div class="item">
                <img src="assets/images-slider/slide1-02.jpg" alt="Chicago" style="width:100%;">
            </div>
          
            <div class="item">
                    <img src="assets/images-slider/slide1-01.jpg" alt="Los Angeles" style="width:100%;">
                    </div>
          </div>
      
          
        </div>
    
</section>
<!-- section begin -->


<section id="section-typing" aria-label="section-typing" class="padding40 bg-color text-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="typing-wrap">
                    <b>Welcome To Raj Hearing </b>
                <div class="typed-strings">
                    <b> center</b>
                </div>
                    <span class="typed"></span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section begin -->
<br> <br>
<section id="section-services" class="no-top no-bottom">
    <div class="container">
        <div class="row mt-70">

            <div class="col-md-6 text-middle text-light wow fadeInRight" data-wow-delay="0">
                <div class="shadow-soft" data-bgimage="url(images/services/hearing-aid-family-ric-cic-bte-invisible.png)">
                    <div class="padding40 overlay60">
                        <h3><b>How We Hear</b></h3>
                        <p>Delicate and soft on the outside, your child’s ear is actually a very sophisticated organ. Very simply put, it turns sound waves in the air into information in our brains — and sometimes emotions in our hearts. It can perceive sounds from barely audible to very loud, differentiate their loudness and distance, and pinpoint the direction of a sound source to an amazing degree of accuracy. The short movie on this page will clearly demonstrate 
      how the children’s ear performs the wonderful task of hearing. </p>
      <a routerLink="/about" class="btn-custom" style="color:black">Read more</a>
    </div>
                </div>
            </div>

            

            <div class="col-md-6 text-middle text-light wow fadeInRight" data-wow-delay=".3s">
                      <img src="assets/images/services/air.jpg"  class="img-responsive" alt="" />
             
                
            </div>

        </div>
    </div>
</section>
<!-- section close -->
<!-- section begin -->
<section id="section-custom-1" style="background-image: url('assets/images/misc/tech1.jpg');" class="side-bg no-padding"  class="text-light">
			
    <div class="container">

        <div class="row">
<div class="col-md-6 wow fadeInUp">
                <img src="assets/images/misc/contact_hd.png" alt="" class="img-responsive wow fadeInUp" data-wow-duration="1.5s">
            </div>
            <div class="col-md-6 wow fadeInUp">
                <h2><b>About Us</b></h2>

                <p class="lead">
  Raj Hearing Centre (RHC), since 1979 Mr.Muktesh (Founder) is an established Hearing Care and fitting Centre and an Authorized dispenser for Siemens Hearing instruments and other popular brands.Having been immensely dedicated in the field of Hearing Care for over 25 years, Mr. G.R. Gopal, the Managing Director of RHC Chennai,
  professionally and personally well experienced dispenser, 
  </p>  
<p class= "lead">  who have been continuously contributing unconditional efforts to render their best services for the betterment of the Hearing Aid users.The prime purpose of the centre is to help the hearing impaired patients to give them back their hearing to the best and make them more confident in this growing scenario all across the country.</p>

<a routerLink="/about" class="btn-custom" style="color:black">Read more</a>
<div class="spacer-single"></div>
            </div>

            
            <div class="clearfix"></div>
        </div>
    </div>
</section>
<!-- section close -->
<section id="section-why-choose-us-2" style="background-image: url('assets/images/misc/1.jpg');" class="side-bg no-padding"  class="text-light">

    <div class="container">
        <div class="row">
            <div class="col-md-5">
<h3 style="font-size:40px;"><b>Our Services</b></h3>
                <img src="assets/images/misc/services1.png" class="img-responsive wow fadeInUp" alt="">
            </div>
            <div class="col-md-7">

                <div class="row">

                    <div class="col-md-6 wow fadeInUp" data-wow-delay="0s">
                        <div class="box-icon">
                            <span class="icon wow fadeIn" data-wow-delay=".5s"><i class="id-color  icon-note"><img src= "assets/icons/s1.png"></i></span>
                            <div class="text">
                                <h3>Hearing Evaluation</h3>
                                <p> Professional hearing aid trial and fitting by expert who are trained by SIEMENS..</p>
                                        </div>
                        </div>
                    </div>

                    <div class="col-md-6 wow fadeInUp" data-wow-delay=".25s">
                        <div class="box-icon">
                            <span class="icon wow fadeIn" data-wow-delay=".75s"><i class="id-color "><img src= "assets/icons/s1.png"></i></span>
                            <div class="text">
                                <h3>Audimetry</h3>
                                <p> Professional hearing aid trial and fitting by expert who are trained by SIEMENS.</p>
                                         </div>
                        </div>
                    </div>

                    <div class="spacer-single"></div>

                    <div class="col-md-6 wow fadeInUp" data-wow-delay=".5s">
                        <div class="box-icon">
                            <span class="icon wow fadeIn" data-wow-delay="1s"><i class="id-color "><img src= "assets/icons/s1.png"></i></span>
                            <div class="text">
                                <h3>Free Counselling</h3>
                                <P> Professional hearing aid trial and fitting by expert who are trained by SIEMENS.</div>
                        </div>
                    </div>

                    <div class="col-md-6 wow fadeInUp" data-wow-delay=".75s">
                        <div class="box-icon">
                            <span class="icon wow fadeIn" data-wow-delay="1.25s"><i class="id-color "><img src= "assets/icons/s1.png"></i></span>
                            <div class="text">
                                <h3>Speech Audimetry</h3>
                                <P> Professional hearing aid trial and fitting by expert who are trained by SIEMENS.</P>
                                   </div>
                        </div>
      
                    </div>

                    <div class="spacer-single"></div>

                    <div class="col-md-6 wow fadeInUp" data-wow-delay="1.25s">
                        <div class="box-icon">
                            <span class="icon wow fadeIn" data-wow-delay="1.5s"><i class="id-color "><img src= "assets/icons/s1.png"></i></span>
                            <div class="text">
                                <h3>Sales & Sercice</h3>
                                <P> Professional hearing aid trial and fitting by expert who are trained by SIEMENS.</P>
                                    </div>
                        </div>
                    </div>
                                           </div>

                                           <a routerLink="/services" class="btn-custom" style="color:black">Read more</a>
                                           <div class="spacer-single"></div>
                                       
                           

            </div>

        </div>

    </div>
</section>
<!-- section begin -->
<section id="section-video" style="background:black" class="wpb_row vc_row-fluid vc_custom_1445315383305"><div class="container"><div class="row"><div class="text-center wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper wow fadeInUp"  >	
    <h1 style="text-align: center;color:white" > Video Tour</h1>	
    <div class="separator"><span><i class="fa fa-circle"></i></span></div>
    <div class="spacer-single"></div>	     
  </div></div></div><div class="text-center wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper wow fadeInUp"  >
    <a class="popup-youtube" href="https://www.youtube.com/watch?v=Y7oAmwXl4k0">
          <img src="http://nationalhearing.in/wp-content/uploads/2015/10/deco_2.png" alt="" class="img-responsive">
      </a>	
  
  </div></div></div></div></div></section>
<!-- section close -->    
<!--- clients-->
     
    <app-clients></app-clients>
     
     


    

<!-- footer close -->





  