 <!-- subheader -->
 <section id="subheader" data-speed="8" data-type="background"style="background-image: url('assets/images/misc/subheader-1.jpg');">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h1>Home Visit</h1>
              <ul class="crumb">
                  <li><a href="/services">Services</a></li>
                  <li class="sep">/</li>
                  <li>Home Visit</li>
              </ul>
          </div>
      </div>
  </div>
</section>
<!-- subheader close -->
<div id="content"  class="no-top no-bottom">
<section id="section-service-1" class="side-bg no-padding"style="background-image: url('assets/images/misc/ab.jpg');" >
   
    
    <div class="container">
        <div class="row">
            <div class="inner-padding">
                    <div class="col-md-6  wow fadeInRight " data-delay="0">
                            <img src="assets/images/misc/home visit.jpg" class="img-responsive">
                            <img src="assets/images/misc/home visit1.jpg" class="img-responsive">
                         </div>
                <div class="col-md-6  wow fadeInRight" data-wow-delay=".5s">
                    <h3 class="id-color">HOME VISIT</h3>
                  <p> After evaluation, a hearing aid suitable to your hearing needs is prescribed based on the type of your hearing loss.
                     </p>            <div class="spacer-single"></div>
                     <a routerLink="/services" class="btn-custom" style="color:black"> Other Services</a>

                </div>
                <div class="clearfix"></div>
                            </div>
        </div>
       
    </div>
</section>
<!-- section service close -->
</div>