 <!-- subheader -->
 <section id="subheader" data-speed="8" data-type="background"style="background-image:url('assets/images/misc/subheader-1.jpg');">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h1>HEARING EVALUATION</h1>
              <ul class="crumb">
                  <li><a href="/services">Services</a></li>
                  <li class="sep">/</li>
                  <li>HEARING EVALUATION</li>
              </ul>
          </div>
      </div>
  </div>
</section>
<!-- subheader close -->


  
<section id="section-service-1" class="side-bg no-padding"style="background-image: url('assets/images/misc/ab.jpg');" >
             
              
        <div class="container">
            <div class="row">
                <div class="inner-padding">
                        <div class="col-md-6  wow fadeInRight " data-delay="0">
                                <img src="assets/images/misc/Hearing-Evaluation-1.jpg" class="img-responsive">
                             
                                <img src="assets/images/misc/Hearing-Evaluation-2.jpg" class="img-responsive">
                           
                            </div>
                    <div class="col-md-6  wow fadeInRight" data-wow-delay=".5s">
                        <h3 class="id-color">HEARING EVALUATION </h3>
                       <p> An Audiologist is the specialist who evaluates, diagnoses, treats and manages hearing loss in adults and children. We offer a variety of procedures that can be varied depending on the patient’s age and ability to participate in the examination. Hearing evaluations are covered by most insurance companies upon referral from your physician. If you are unsure if you have a hearing loss and are not sure if a complete evaluation is necessary, a hearing screening can be performed.     <br>
                        </p>
                        <a routerLink="/services" class="btn-custom" style="color:black"> Other Services</a>

                   </div>  
                                <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- section service close -->